.img1,.img2{
    height: 460px;
    width: 50%;
    border-style:groove;
    border-color: red;
    border-width: 50px;
    border-radius: 10px;
    border-bottom-right-radius: 50px;
    border-image: url(/images/img/fb.jpg);
}
.lorem{
    background-image: url(/images/img/fb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode:luminosity;
}
#dp{
    border-radius: 50%;
    border-color: blueviolet;
    width: 200px;
    height: 200px;
}